################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/BackPatient
# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
# Etc, adapte selon tes besoins
private_key.pem
